.button {
  padding: var(--base-spacing) var(--sm-spacing);
  border: none;
  background-color: var(--secondary);
  color: var(--light-fg);
  border-radius: var(--base-unit);
  box-shadow: var(--dark-box-shadow);
  font-size: var(--small-font);
  font-weight: 500;
}

.contained {
  width: 100%;
}

.button:hover {
  cursor: pointer;
  color: var(--default-fg);
  box-shadow: var(--darker-box-shadow);
}
