.root {
  border: none;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  background-color: var(--light-bg);
  border-radius: var(--base-unit);
  box-shadow: var(--light-box-shadow);
}

.root:hover {
  box-shadow: var(--dark-box-shadow);
}

.accountHeader {
  display: flex;
  justify-content: space-between;
  flex-basis: 100%;
  width: 100%;
  padding: var(--sm-spacing);
}
